/* About us */
.aboutus {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  text-align: justify;
  padding: 2rem;
  margin: 10% 20%;
  border: solid 1px #fff;
}

.aboutRestaurant {
  padding-bottom: 2rem;
}

/* Menu */
.mainMenu {
  height: 100%;
  width: 100%;
}