/* Contact */
.findus {
  color: #fff;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 100%;
  padding: 2rem;
  margin: 10% 20%;
  border: solid 1px #fff;
}

.findus h3 {
  margin-bottom: 0;
}

.address,
.contactus,
.hours {
  margin-top: 0;
}