<div id="content">
  <header class="main-head">
    <img class="main-logo" alt="logo" src="/assets/logo.png">
    <nav id="main-nav" class="main-nav" [class.open]="myFunction">
      <a class="nav-links nav-home" href="#" routerLink="/">Home</a>
      <a class="nav-links nav-menu" href="#" routerLink="/menu">Menu</a>
      <img id="logo" class="nav-logo" routerLink="/" src="../assets/logo.png" alt="logo">
      <a class="nav-links nav-about-us" href="#" routerLink="/about-us">About Us</a>
      <a class="nav-links nav-contact" href="#" routerLink="/contact">Contact</a>
    </nav>
    <div class="icon" (click)="clickEvent()">
      <img id="hamburger-icon" alt="hamburger-icon" src="/assets/menu.svg">
    </div>
  </header>
  <div class="main-content">
      <router-outlet></router-outlet>
  </div>
</div>
